body {
    margin: 0 0;
    background: #161838;
    color: #EBEBEB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    

}

.text-pading-left {
    padding-left: 0.6rem;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0 0;
    margin: 0 0;
}


.container-main {
    max-width: 1024px;
    min-width: 320px;
    margin: 0px auto;
    
}

.container-main-hero {
    margin: 0 auto;
    display: flex;
}

.center-me {
    font-size: 50px;
    margin: auto;
}

.center-me button {
    background: #bb2880;
    padding: 20px 40px;
    margin-top: 1.2rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-bottom-right-radius: 15px;

}

.center-me button:hover {
    background:  #4DA2DE;
}

header {
    min-height: 75px;
    background-color: #110D24;
}

header h1 {
    line-height: 75px;
    text-align: center;
}

.hero-section {
    background: #EBEBEB;
    margin: 15px 0px;
    height: 700px;
    min-width: 320px;
    background-image: url(img/cityscape.gif);
    background-size: cover;
    text-align: center;
    display: flex;
}

.container-header {
    max-width: 1024px;
    min-width: 320px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.container-header h1 {
    flex: 1;
    font-size: 2.2rem;
}

.container-header nav {
    /* float: left */
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px auto;

}

nav ul a {
    text-decoration: none;
    color: #EBEBEB;
}

nav ul li:hover {
    color:#EBEBEB;
    background: #AD387D;
}
nav ul li {
    padding: 10px 10px;
    background: #4DA2DE;
    margin: 2px auto;
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    
}

.three-col-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #120e25;
    padding: 10px 10px 5px 10px;
    border-bottom-right-radius: 15px;

}

.single-equal-col {
    box-sizing: border-box;
    flex-basis: 32%;
    margin-bottom: 10px;
    border-bottom-right-radius: 15px;

}

.single-equal-col img {
    width: 100%;
    height: auto;
}


.section-header {
    height: 60px;
    line-height: 55px;
    color: white;
    text-align: center;
}

.section-content p{
    color: #EBEBEB;
    padding: 5px 10px 10px 10px;
    text-align: center;
}



.single-equal-col button {
    background: #1A294B;
    padding: 20px 5px;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.4rem;
    border-bottom-right-radius: 15px;

}

.single-equal-col button:hover {
    background: #AD387D;
}

#main-col-three .section-header {
    background: #47A2EB;
}

#main-col-one .section-header {
    background: #498C6E;
}

#main-col-two .section-header {
    background: #692D31;
}

.main-content-and-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    padding: 15px 0;
    background: #161838;

}

.main-content {
    flex-basis: 66%;
    background: #7090b5;
    height: 500px;
}

.main-sidebar {
    flex-basis: 32%;
    background: #1A294B;
    color: white;
    height: 500px;
}

footer {
    height: 75px;
    background-color: #100C1C;
    text-align: center;
    line-height: 75px;
}

@media ( min-width: 860px ) {
    header {
        height: 75px;
        background-color: #110D24;
    }
    header h1 {
        line-height: 70px;
        padding-left: .8rem;
        text-align: left;
    }

    .container-header {
    min-width: 320px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;

    }

.container-header h1 {
    flex: 1;
}

.container-header nav {
    float: left
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}

nav ul li {
    padding: 5px 10px;
    list-style: none;
    background: #0F0E23;
    margin-top: 12px;
    text-align: left;
    
}

    nav ul li:hover {
        background: #0F0E23;
        color: #4DA2DE;
    }

    
    .three-col-section {
        flex-direction: row;
        background: #161936;
    
    }

    .section-content p {
        color: #1C2A48; 
    }

    .main-content-and-sidebar {
        flex-direction: row;
    }

    .single-equal-col {
        background: #EBEBEB;
        padding: 10px 10px;
    }

    
}