body {
    margin: 0 0;
    background: #161838;
    color: #EBEBEB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;

}

.text-pading-left {
    padding-left: 0.6rem;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0 0;
    margin: 0 0;
}

.container-header {
    max-width: 960px;
    min-width: 320px;
    margin: 0px auto;
}
.container-main {
    max-width: 960px;
    min-width: 320px;
    margin: 0px auto;
    
}

header {
    height: 75px;
    background-color: #110D24;
}

header h1 {
    line-height: 75px;
    text-align: center;
}

.hero-section {
    background: #EBEBEB;
    margin: 15px 0px;
    height: 400px;
    min-width: 320px;
    background-image: url(img/cityscape.gif);
    background-size: cover;
}

.three-col-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #120e25;
    padding: 10px 10px 5px 10px;
    border-bottom-right-radius: 15px;

}

.single-equal-col {
    box-sizing: border-box;
    flex-basis: 32%;
    margin-bottom: 10px;
    border-bottom-right-radius: 15px;

}

.single-equal-col img {
    width: 100%;
    height: auto;
}


.section-header {
    height: 60px;
    line-height: 55px;
    color: white;
}

.section-content p{
    color: #EBEBEB;
    padding-bottom: 10px;
}



.single-equal-col button {
    background: #1A294B;
    padding: 20px 5px;
    border: none;
    width: 100%;
    color: white;
    font-size: 1.4rem;
    border-bottom-right-radius: 15px;

}

#main-col-three .section-header {
    background: #47A2EB;
}

#main-col-one .section-header {
    background: #498C6E;
}

#main-col-two .section-header {
    background: #692D31;
}

.main-content-and-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    padding: 15px 0;
    background: #161838;

}

.main-content {
    flex-basis: 66%;
    background: #7090b5;
    height: 500px;
}

.main-sidebar {
    flex-basis: 32%;
    background: #1A294B;
    color: white;
    height: 500px;
}

footer {
    height: 75px;
    background-color: #100C1C;
    text-align: center;
    line-height: 75px;
}

@media ( min-width: 900px ) {

    header h1 {
        line-height: 75px;
        padding-left: .8rem;
        text-align: left;
    }
    .three-col-section {
        flex-direction: row;
        background: #EBEBEB;
    
    }

    .section-content p {
        color: #1C2A48; 
    }

    .main-content-and-sidebar {
        flex-direction: row;
    }

    .single-equal-col {
        background: #EBEBEB;
    }
}
